.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: stretch;
  position: fixed;
  bottom: 0;
  right: 0;
}

.sidebar,
.sidebar .container {
  display: flex;
  flex-direction: column;
}

.sidebar .input-group-append {
  position: relative;
}

.sidebar .input-group-append > .dropdown-menu.show {
  top: 0;
  left: 100%;
}

.sidebar {
  min-width: 300px;
  max-width: 300px;
  background: #7386D5;
  color: #fff;
  transition: all 0.3s;
}

.sidebar.hide {
  margin-left: -300px;
}

.sidebar .container {
  padding-bottom: 20px;
}

.sidebar .list-group {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.content {
  width: calc(100% - 300px);
  min-height: 100vh;
  transition: all 0.3s;
}

.sidebar.hide ~ .content {
  width: 100vw;
}

.content > .navbar {
  height: 10vh;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.content .nav-header {
  text-align: right;
}

.content .nav-header h1 {
  font-size: 1.5rem;
}

#map {
  height: 90vh;
  width: 100%;
}


@media screen and (max-width: 646px) {
  .sidebar ~ .content .nav-header {
    display: none;
  }

  .sidebar.hide ~ .content .nav-header {
    display: flex;
  }
}

@media screen and (max-width: 465px) {
  .content > .navbar > .btn {
    text-align: center;
  }

  .content .nav-header h1 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 490px) {
  .sidebar {
    min-width: 240px;
    max-width: 240px;
  }

  .sidebar.hide {
    margin-left: -240px;
  }

  .sidebar ~ .content .nav-header {
    display: none;
  }

  .sidebar.hide ~ .content .nav-header {
    display: flex;
  }

  .content {
    width: calc(100% - 240px);
  }

  .sidebar ~ .content > .navbar {
    justify-content: center;
  }

  .sidebar.hide ~ .content > .navbar {
    justify-content: space-between;
  }
}